* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", serif;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile-navbar {
    display: none;
}

@media screen and (max-width: 480px) {
    .header-mobile {
        background-color: #000;
        padding: 20px;
    }

    .hamburger {
        width: 40px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        position: relative;
    }

    .hamburger span {
        display: block;
        width: 100%;
        height: 4px;
        background: white;
        transition: transform 0.3s ease, top 0.3s ease;
        position: absolute;
        left: 0;
    }

    .hamburger span:first-child {
        top: 10px;
    }

    .hamburger span:last-child {
        bottom: 5px;
    }

    .hamburger.active span:first-child {
        transform: rotate(45deg);
        top: 50%;
    }

    .hamburger.active span:last-child {
        transform: rotate(-45deg);
        bottom: 50%;
    }

    .mobile-navbar {
        display: block;
        position: absolute;
        top: 80px;
        /* Ajuste conforme o tamanho do seu cabeçalho */
        left: 0;
        width: 100%;
        max-height: 0;
        /* Começa invisível */
        overflow: hidden;
        background-color: black;
        color: white;
        transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out;
        padding: 0;
        /* Remove padding inicial */
    }

    .mobile-navbar ul {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: left;
    }

    .mobile-navbar li {
        font-size: 24px;
        margin: 30px 0;
        padding-left: 5%;
        font-family: "Rubik", serif;
    }

    /* Quando ativo, expande suavemente */
    .mobile-navbar.active {
        max-height: 100vh;
        /* Ajuste conforme necessário */
        padding: 20px 0;
    }

}

.hero {
    background-image: url('../images/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height: 100vh;
}

.hero form h1 {
    color: white;
    font-size: 24px;
    text-align: center;
    font-weight: 300;
}

.hero form p {
    color: white;
    text-align: center;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 30px;
}

main div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 800px;
}

.hero form {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
    padding: 60px 20px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50px;
}

.hero form input {
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 5px 10px;
    display: block;
    margin: 10px auto;
    color: white;
    outline: none;
}

.hero form textarea {
    width: 100%;
    height: 80px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 5px 10px;
    display: block;
    margin: 10px auto;
    color: white;
    outline: none;
}

.hero button {
    background-color: #c0864f;
    border: 0;
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-around;
    margin: 20px auto;
    height: 50px;
    font-size: 16px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.3s ease, width 0.3s ease;
    /* Animação suave */
}

.hero button:hover {
    width: 80%;
    /* Aumenta o tamanho lateralmente */
    transform: scaleX(1.1);
    /* Aumenta ligeiramente o botão */
}

.hero button img {
    width: 30px;
    transform: rotate(-35deg);
    transition: transform 0.3s ease;
}

.about-us {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)) center center / cover no-repeat, url(../images/about-bg.jpg);
    background-position: center center;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
}


.about-us h1 {
    color: white;
    margin-top: 60px;
    text-align: center;
    font-family: "Lora", serif;
    font-size: 3rem;
}

.about-us img {
    display: block;
    margin: 0 auto;
}

.marquee-container {
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    overflow: hidden;
    white-space: nowrap;
    pointer-events: none;
}

.marquee-text {
    display: inline-block;
    text-transform: uppercase;
    animation: marquee 15s linear infinite;
    user-select: none;
    line-height: 1.5em;
    font-size: 15rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.1);
    z-index: -1;
    /* Coloca o texto no fundo */
}

@keyframes marquee {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}

.content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
}

.about-info {
    margin-top: 60px;
}

.about-info h2 {
    font-weight: normal;
    font-family: "Lora", serif;
    margin-bottom: 20px;
    font-weight: 600;
}

.about-info p {
    width: 90%;
    display: block;
    margin: 20px auto;
    line-height: 1.5;
}

.btn-about {
    background-color: #c0864f;
    border: 0;
    display: flex;
    align-items: center;
    width: 50%;
    margin: 20px auto;
    height: 50px;
    font-size: 16px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    padding-left: 10px;
    transition: transform 0.3s ease, width 0.3s ease;
}

.btn-about img {
    width: 30px;
    transform: rotate(-35deg);
    transition: transform 0.3s ease;
}

.btn-about:hover {
    width: 80%;
    transform: scaleX(1.1);
}

.special {
    background-color: #000;
    padding-bottom: 60px;
}

.special h1 {
    color: white;
    padding-top: 60px;
    text-align: center;
    font-family: "Lora", serif;
    font-size: 3rem;
}

.special img {
    display: block;
    margin: 0 auto;
}

.special-row {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
}

.special-item {
    position: relative;
    overflow: hidden;
}

.special-item img {
    position: relative;
    width: 100%;
    height: 360px;
    object-fit: cover;
    padding: 0 10px;
    transition: 0.3s ease-in-out;
}

.special-item .overlay {
    position: absolute;
    top: 0;
    left: 100%; /* Começa fora da tela, à direita */
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    transition: transform 0.4s ease-in-out;
    transform: translateX(0); /* Mantém a posição inicial */
    font-family: "Lora", serif;
}

.special-item:hover .overlay {
    transform: translateX(-100%); /* Move a camada da direita para a esquerda */
}

.special-item h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.special-item p {
    margin-top: 50px;
    font-size: 16px;
    margin-bottom: 10px;
}

.special-item span {
    position: absolute;
    bottom: 10%;
    margin-top: 90px;
    font-size: 24px;
    font-weight: bold;
    color: #c0864f;
}

.special-item small {
    font-size: 16px;
    color: #c0864f;
}

.menu {
    background-color: #000;
}


@keyframes animatedRadius {
    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}